body {
    font-family: Arial, sans-serif;
    color: #fff; /* add this line */

    background-image: url('backgroundy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }


#contact {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #3e403e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #3e403e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  #back-button:hover {
    background-color: #3e8e41;
  }