body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url('backgroundy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
  }
  
  #back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #3e403e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  #back-button:hover {
    background-color: #3e8e41;
  }
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery img {
    width: calc(33.33% - 10px);
    max-width: 165px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .project-link {
    display: inline-block;
    background-color: #3e403e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .project-link:hover {
    background-color: #3e8e41;
  }


@media (max-width: 768px) {
    main {
      padding: 10px;
    }
    section {
      padding: 10px;
    }
    .image-gallery img {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    #back-button {
      top: 10px;
      left: 10px;
      padding: 5px 10px;
      font-size: 14px;
    }
    .image-gallery img {
      width: 100%;
    }
    .project-link {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 320px) {
    #back-button {
      font-size: 12px;
    }
    header h1 {
      font-size: 1.2rem;
    }
    .project-link {
      font-size: 12px;
    }
  }